/*************************************************************************/
/*------------------------------Global Settings--------------------------*/
/*************************************************************************/
body
{
background-color:#ffffff;
padding:0;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:17px;
margin:0px auto auto auto;
color:#000000;
}

/*-----------------------------Paragraph Settings------------------------*/
p{
padding:0px 0 10px 0;
text-align:justify;
margin:0px;
line-height:20px;
}

/*------------------------------Headline Settings------------------------*/
h1{
color:#000033;
padding:5px 0 10px 0;
margin:0px;
font-size:18px;
font-weight:bold;
}

h1 span { 
font-size:16px;
font-weight:normal;
}

h2{
color:#003333;
padding:0px 0 5px 0;
margin:0px;
font-size:15px;
font-weight:bold;
}

h3{
color:#000000;
padding:0px 0 0px 20px;
text-align:justify;
margin:0px;
font-size:16px;
font-weight:bold;
}

h3 span { 
font-size:14px;
font-weight:normal;
}

/*--------------------------------List Settings--------------------------*/
ul {
margin-top: 0;
margin-bottom: 0;
padding-top: 0;
padding-bottom: 0;
}

/*------------------------------Hyperlink Settings-----------------------*/
a{
text-decoration:underline;
}

/*************************************************************************/
/*-------------------------------Main Container--------------------------*/
/*************************************************************************/
#main_container{
width:900px;
height:auto;
margin:auto;
padding:0px;
position:relative;
}

/*************************************************************************/
/*-----------------------------------Header-----------------------------*/
/*************************************************************************/
#header{
width:900px;
height:180px;
margin:0px;
padding:0px;
background:url(images/network.jpg) no-repeat right;
}

.logo{
width:360px;
text-align:left;
font-size:36px;
color:#000033;
//float:left;
padding:50px 0 0 10px;
}
.logo a{
color:#000033;
text-decoration:none;
}

.menu{
width:550px;
//float:left;
padding:30px 0 0 0px;
}
.menu ul{
list-style:none;
padding:0px;
margin:0px;
}
.menu ul li{
display:inline;
}
.menu ul li a{
float:left;
border:none;
margin:0 10px 0 10px;
_margin:0 7px 0 7px;
text-decoration:none;
color:#000033;
font-size:16px;
font-weight:bold;
}
.menu ul li a:hover{
color:#000033;
border-bottom:3px #bc8d46 solid;
}
.menu ul li.selected a{
float:left;
border:none;
margin:0 10px 0 10px;
text-decoration:none;
color:#000033;
font-size:16px;
font-weight:bold;
border-bottom:3px #bc8d46 solid;
}

/*************************************************************************/
/*-------------------------------Center Content--------------------------*/
/*************************************************************************/
#center_content{
width:900px;
height:auto;
background-color:#ffffff;
border-top:2px #cebf91 solid;
}

/*--------------------------------Left Content---------------------------*/
.left_content{
width:420px;
float:left;
padding:15px 10px 10px 10px;
}

img.left_icon{
float:left;
padding:0px 10px 0px 0px;
}

.photos_block{
padding:10px 0 10px 0;
}

.photo_box{
width:125px;
height:140px;
float:left;
display:block;
text-align:center;
margin:0 15px 0 0;
position:relative;
background:url(images/photo_bg.gif) no-repeat center;
}

img.photo{
padding:6px 0 0 0;
}

a.view{
float:right;
padding:4px 6px 0 0;
text-decoration:none;
color:#706443;
}

/*-------------------------------Right Content---------------------------*/
.right_content{
width:420px;
float:right;
padding:15px 10px 10px 10px;
}

.announce_box{
clear:both;
float:left;
width:420px;
padding:0 0 0 0;
}

.tip_box{
clear:both;
float:left;
width:420px;
padding:0 0 15px 0;
}

p.tips{
padding:0px 0 7px 0;
text-align:justify;
margin:0px;
line-height:17px;
border-bottom:1px #cebf91 dashed;
}

a.read_more{
display:block;
color:#855f35;
float:right;
font-style:italic;
margin:5px 0 0 0;
text-decoration:none;
font-size:12px;
}
a:hover.read_more{
text-decoration:underline;
}

/*-------------------------------Middle Content--------------------------*/
.middle_content{
width:900px;
float:left;
padding:15px 0px 10px 0px;
}

.embedded_content{
width:900px;
float:left;
padding:0px 0px 0px 0px;
}

ul li{
padding:0 0 10px 0;
text-align:justify;
margin:0px;
line-height:20px;
}

ol li{
padding:0px 0 10px 0;
text-align:justify;
margin:0px;
line-height:20px;
}

p.awards{
padding:0px 0 5px 0;
text-align:justify;
margin:0px;
line-height:20px;
}

/*-------------------------------Bottom Content--------------------------*/
.bottom_content{
width:900px;
height:179px;
clear:both;
margin:auto;
background-color:#ffffff;
border-top:2px #cebf91 solid;
}

/* .useful_links{
width:175px;
float:left;
padding:10px 0 0 40px;
}

ul.list{
list-style:none;padding:0px;margin:0px; 
}
ul.list li{
list-style:none;width: auto;height: auto;padding:0 0 8px 0; margin:0px;
}
ul.list li a{
width: auto; padding:0 0 0 15px; margin:0;color:#000000;text-align:left; display:block;
text-decoration:none;background:url(images/footer_bullet.jpg) no-repeat left;
}
ul.list li a:hover{
text-decoration:underline;
} */

img.follow_icon{
padding:0px 0px 0px 0px;
}

a.follow_me{
color:#000000;
text-decoration:none;
font-size:12px;
}
a:hover.follow_me{
text-decoration:underline;
}

.footer{
clear:both;
width:900px;
margin:auto;
text-align:center;
padding:5px 0 0 0;
font-size:12px;
/* border-top:1px #cebf91 dashed; */
}

/*************************************************************************/
/*--------------------------------Miscellaneous--------------------------*/
/*************************************************************************/